//
   Created by Qiushuo on 4/5/2016.

doctype html
html
    head
        link(href = "stylesheets/style_new.css" rel="stylesheet")
    body
        include ./snippet/menu.jade
        #homeContent.content
            p I am Qiushuo Wang, A graduate student of computer science in George Washington University C++ Programmer, Web developer and Armateur digital artist