//
   Created by Qiushuo on 4/2/2016.

doctype html
html(lang="en")
    head
        link(href="../stylesheets/style_new.css" rel="stylesheet")
    body
        include ../snippet/menu.jade
        #About.content
            .Text-intro
                p I am a Software engineer mostly working on C++ and OpenGL program, I also have experience with Web front end development and anmateur digital artist
            .skillSets
                .skill#Programming-skill
                    h2 Programming_skill
                    ul.programming
                        li
                            p C++
                        li
                            p Java
                        li
                            p OpenGL
                    h2 Programming IDE
                    ul.ide
                        li
                            p Visual Studio
                        li
                            p Eclipse
                        li
                            p Qt Creator
                        li
                            p Aptana Studio
