//
   Created by Qiushuo on 4/2/2016.
- var page = 'showcase'

doctype html
html(lang="en")
    head
        link(href="../stylesheets/style_new.css" rel="stylesheet")
        link(href = "../stylesheets/snippet/Showcase.css" rel="stylesheet")
    body
        include ../snippet/menu.jade
        #Showcase.content
            .projects
                .project
                    .title
                        h1 OpenGL Rendering Engine
                        a
                            i
                    h2 intro
                    p Object-Oriented OpenGL rendering system,
                    h2 Features
                    ul.Project_Features
                        li Support importing different file formats like FBX
                        li Support loading Scene Graph from FBX file, and reconstruct hierarchy
                        li Support basic aniamation functionality like keyframe non-linear translation, rotation and scaling
                        li OpenGl 2.0+ support
                    h2 WIP
                    ul.wip_features
                        li Restructure to fit OpenGL 4.0+ pipeline
                        li Half-edge Mesh data structure
                        li Advanced material
                        li Physical based rendering support?
                        li Vulkan support?
                    h2 Screen Shot
                    .screen_shoots_gallery
                        img.screen_shot

                .project
                    h1 Qt OpenGL L-system
                    h2 intro
                    p Qt-based GUI OpenGL L-system generation system
                    h2 Features
                    ul.Project_Features
                        li Generic widget for basic L-system control
                        li Loading txt files for L-system rule
                        li Deterministic L-system and schocastic L-system
                        li OpenGl 2.0+ support

                .project
                    h1 Web-based 3d display system (WIP)
                    h2 Intro
            .code_content
